exportPattern("^[[:alpha:]]+")
importFrom("stats", "runif")
importFrom("stats", "rnorm")
export(DEbase)
export(MDE)
export(SAmDE)
export(schwefel)
export(sphere)
export(griewank)
export(ackley)
export(ModSharpe)
